<ng-container *ngIf="data$ | async as data">
  <div class="product-page">
    @if(data.error) {
    <p class="message">{{ data.error }}</p>
    }
    <div class="product-header">
      <h1>Products</h1>
      <button class="add-product-btn" (click)="navigateToAddProductPage()">
        Add Product
      </button>
    </div>
    @if(data.products.length > 0 ) {
    <div class="product-list">
      @for (product of data.products; track product.id) {
      <div class="product-item">
        <img
          [src]="product.imageUrl"
          [alt]="product.name"
          class="product-image"
        />
        <div class="product-info">
          <h3 class="name">{{ product.name }}</h3>
          <p class="sku">Sku: {{ product.sku }}</p>
          <p class="sku">Sku: {{ product.price }}</p>
          <p class="sku">Sku: {{ product.stockQuantity }}</p>
        </div>

        <!-- PRODUCT ACTIONS -->
        <div class="product-actions">
          <button
            (click)="onNavigateToEditProductPage(product.id)"
            class="edt-btn"
          >
            Edit
          </button>
          <!--           <button
            (click)="onNavigateToAddImageProductPage(product.id)"
            class="edt-btn"
          >
            add Image
          </button> -->
          <button
            (click)="onHandleProductDelete(product.id)"
            class="delete-btn"
          >
            Delete
          </button>
        </div>
      </div>
      }
    </div>
    }

    <!-- PRODUCT LIST -->

    <!--   <app-pagination
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          (pageChange)="onPageChange($event)"
        >
        </app-pagination> -->
  </div>
</ng-container>
